################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EnvMonitorApp.Test/bin/Debug/net8.0-windows10.0.19041.0
/EnvMonitorApp.Test/obj
